.favourite {
  padding-bottom: 60px;
}

.favourite__body {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
}

.favourite__item {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 10px;

  cursor: pointer;
}

.favourite__item .card__content {
  @media (max-width: $md) {
    flex-wrap: wrap;
  }

  @media (max-width: $sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.favourite__item .card__thumb {
  flex-shrink: 0;
  // width: 30%;
  padding-top: 0;

  @media (max-width: $md) {
    width: 70%;
    margin: 0 auto;
  }

  @media (max-width: $sm) {
    order: -1;
    width: 100%;
  }
}

.favourite__item .card__info {
  margin-left: 20px;

  @media (max-width: $md) {
    width: 100%;
    margin-left: 0;
  }

  @media (max-width: $sm) {
    order: 0;
    width: 90%;
  }
}

.favourite__item .card__name {
  @media (max-width: $md) {
    margin-top: 20px;
    padding-right: 0;

    text-align: center;
  }

  @media (max-width: $sm) {
    margin-top: 0;

    text-align: left;
  }
}

.favourite__item .card__descr {
  @media (max-width: $md) {
    text-align: center;
  }
}

.favourite__item .card__totals {
  margin-left: auto;

  @media (max-width: $md) {
    margin-left: 0;
  }

  @media (max-width: $sm) {
    order: 2;
    width: 100%;
    margin-left: 0;
    padding-top: 0;
  }
}

.favourite__item .card__price {
  @media (max-width: $md) {
    margin-left: 0;
  }
}

.favourite__item .card__heart {
  justify-content: flex-end;
  min-width: 4%;
  margin-left: 10px;

  background: url("../img/icon/heart-solid.svg") no-repeat;
  background-position-x: right;

  @media (max-width: $md) {
    margin-left: auto;
  }

  @media (max-width: $sm) {
    justify-content: flex-start;
    order: 1;
    width: 10%;
    margin-right: auto;
    margin-left: 0;

    background-position-x: right;
  }
}

