// ////////////////////////////////////////// Ubuntu
@font-face {
  font-weight: 300;
  font-family: Ubuntu;
  font-style: normal;

  font-display: swap;
  src: url(../font/Ubuntu/Ubuntu-Light.woff2),
  url(../font/Ubuntu/Ubuntu-Light.woff);
}

@font-face {
  font-weight: 400;
  font-family: Ubuntu;
  font-style: normal;

  font-display: swap;
  src: url(../font/Ubuntu/Ubuntu-Regular.woff2),
  url(../font/Ubuntu/Ubuntu-Regular.woff);
}

@font-face {
  font-weight: 700;
  font-family: Ubuntu;
  font-style: normal;

  font-display: swap;
  src: url(../font/Ubuntu/Ubuntu-Bold.woff2),
  url(../font/Ubuntu/Ubuntu-Bold.woff);
}

@font-face {
  font-weight: 700;
  font-family: Ubuntu;
  font-style: italic;

  font-display: swap;
  src: url(../font/Ubuntu/Ubuntu-BoldItalic.woff2),
  url(../font/Ubuntu/Ubuntu-BoldItalic.woff);
}
